<%- include('partials/header') %>
<main class="main-content index_container">
  <h1><a href="/">Mood Tracking App</a></h1>
  <h2>Mood History</h2>
  <div>
    <h3>5 most recent moods entered:</h3>
    <div class="moods-list">
      <% moods.forEach((mood) => {%>
      <li><%= mood %></li>
      <% }) %>
    </div>
    <h3><%= streakText %></h3>
  </div>
</main>
