<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<main class="main-content index_container">
    <h1><a href="/">Mood Tracking App</a></h1>
    <h2>How are you feeling today?</h2>
    <div class="navigation__container">
        <form action="/mood" method="POST">
            <select name="mood" required class="form-select">
                <option value="">Select Mood</option>
                <option>Happy</option>
                <option>Excited</option>
                <option>Okay</option>
                <option>Sad</option>
                <option>Stressed</option>
            </select>
            <br>
            <button type="submit" class="form-button">Submit</button>
        </form>
    </div>
</main>
</body>

</html>